name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ocaml-version: [ "4.14", "5.3", "5.4" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "${{ matrix.ocaml-version }}"
          dune-cache: true

      - name: Install library dependencies
        run: opam install . --deps-only --yes

      - name: Build library
        run: opam exec -- dune build

      - name: Install test dependencies
        run: opam install . --deps-only --with-test --yes

      - name: Run tests
        run: opam exec -- dune test --force
        env:
          JUNIT_REPORT_PATH: ${{ github.workspace }}/_build/default/test/junit.xml
          QCHECK_LONG: true
          QCHECK_LONG_FACTOR: 100

      - name: Publish test results for OCaml "${{ matrix.ocaml-version }}"
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: Dune unit test results
          files: _build/default/test/junit.xml

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.1  # until we can un-pin landmarks
          dune-cache: true

      - name: Install dependencies
        run: opam install . --deps-only --with-dev-setup --yes

      - uses: j178/prek-action@v1

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.4

      - run: opam install . --deps-only --with-doc
      - run: opam exec -- dune build @doc

      - name: Upload docs
        uses: actions/upload-artifact@v4
        with:
          name: odoc-html
          path: _build/default/_doc/_html/
